<%= form_for(@tester_answer) do |f| %>
  <% if @tester_answer.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@tester_answer.errors.count, "error") %> prohibited this tester_answer from being saved:</h2>

      <ul>
      <% @tester_answer.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :answer %><br />
    <%= f.text_area :answer %>
  </div>
  <div class="field">
    <%= f.label :score %><br />
    <%= f.number_field :score %>
  </div>
  <div class="field">
    <%= f.label :ability %><br />
    <%= f.number_field :ability %>
  </div>
  <div class="field">
    <%= f.label :std_error %><br />
    <%= f.number_field :std_error %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
