<h1>Listing tester_answers</h1>

<table>
  <tr>
    <th>Answer</th>
    <th>Score</th>
    <th>Ability</th>
    <th>Std error</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @tester_answers.each do |tester_answer| %>
  <tr>
    <td><%= tester_answer.answer %></td>
    <td><%= tester_answer.score %></td>
    <td><%= tester_answer.ability %></td>
    <td><%= tester_answer.std_error %></td>
    <td><%= link_to 'Show', tester_answer %></td>
    <td><%= link_to 'Edit', edit_tester_answer_path(tester_answer) %></td>
    <td><%= link_to 'Destroy', tester_answer, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Tester answer', new_tester_answer_path %>
