<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @tester.name %>
</p>

<p>
  <b>Total score:</b>
  <%= @tester.total_score %>
</p>

<p>
  <b>Test date:</b>
  <%= @tester.test_date %>
</p>

<p>
  <b>Birthday:</b>
  <%= @tester.birthday %>
</p>

<p>
  <b>Sub score 1:</b>
  <%= @tester.sub_score_1 %>
</p>

<p>
  <b>Sub score 2:</b>
  <%= @tester.sub_score_2 %>
</p>

<p>
  <b>Sub score 3:</b>
  <%= @tester.sub_score_3 %>
</p>

<p>
  <b>Sub score 4:</b>
  <%= @tester.sub_score_4 %>
</p>

<p>
  <b>Sub score 5:</b>
  <%= @tester.sub_score_5 %>
</p>

<p>
  <b>Sub score 6:</b>
  <%= @tester.sub_score_6 %>
</p>


<%= link_to 'Edit', edit_tester_path(@tester) %> |
<%= link_to 'Back', testers_path %>
