<% @tester = User.new %>
<% current_year = Date.current.year %>

<%= form_for(@tester) do |f| %>
  <% if @tester.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@tester.errors.count, "error") %> prohibited this tester from being saved:</h2>

      <ul>
      <% @tester.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= f.hidden_field :status, { :value => 0} %>

  <div class="field">
    <%= f.label :name, "受測者姓名" %>
    <%= f.text_field :name %>

    <%= f.label :level, "測試區段（1，2，或 3）" %>
    <%= f.number_field :level %>

    <%= f.label :email, "測試者郵箱（必填）" %>
    <%= f.text_field :email, :required => true, :autofocus => true %>

    <%= f.label :password, "密碼（必填）" %>
    <%= f.text_field :password, :required => true %>

    <%= f.label :password_confirmation, "再填密碼" %>
    <%= f.text_field :password_confirmation, :required => true %>

    <%= f.label :test_date, "設定測試日期" %>
    <%= f.date_select :test_date, :start_year => 2014 %>

    <%= f.label :bot, "設定生日" %>
    <%= f.date_select :bot, :start_year => (current_year-10), :end_year => (current_year-3) %>

    <%= f.label :school, "學校名" %>
    <%= f.text_field :school %>

    <%= f.label :contact, "聯係人/監護人" %>
    <%= f.text_field :contact %>

    <%= f.label :description, "受測者背景資料" %>
    <%= f.text_area :description, class: "textarea", id: "description" %>
  </div>

  <div class="actions">
    <%= f.submit "完成送出", class: "btn btn-min btn-warning" %>
  </div>

<% end %>