<center>
<h3>
幼兒智力發展評估
</h3>
<h3>
Intelligence Development Accessment for Children
</h3>
<h4>
聲音記憶與操作測驗，空間記憶與操作測驗，概念認知測驗，情緒認知測驗
</h4>

<p>
<span id="show_logout"><u>想要登出</u> | </span>
<span id="hide_logout"><u>隱藏登出</u> | </span> 
<span id="show_instruction"><u>顯示指示</u></span>
<span id="hide_instruction"><u>隱藏指示</u></span>
</p>

<div id="welcome" style="border: 3px double #000000; padding:3px; width:500px;">
	<h3 id="welcome_text_1"></h3>
</div>

<p></p>

<div id="test_start" style="width:620px;">
	<% if user_signed_in? %>
		<% if current_user.tester_answers.count == 0 %>
			<% @ta = current_user.tester_answers.create(score: 100) %>
		<% else %>
			<% @ta = current_user.tester_answers.first %>
		<% end %>

		<div class="bs-callout bs-callout-warning">
			<h4><span id="user_name"><%= current_user.name %> 您好!</span></h4>
			<%= link_to "登出", destroy_user_session_path, method: :delete, :id => "user_logout", class: "btn btn-min" %>
		</div>
	<% else %>
		
		<div class="bs-callout bs-callout-warning">
		  <h4>如果已經註冊，請先：</h4><%= link_to "登入", new_user_session_path, :id => "user_login", class: "btn btn-min" %>
		 </div>

	  <div class="bs-callout bs-callout-info">
	  	<h4>如果尚未註冊，請填寫：</h4>
	  	<%= render 'tester_registration', :id => "new_registration" %>
	  </div>

	<% end %>
</div>

<div id='tester_answer_submit'>
<% if user_signed_in? %>
	<%= render 'tester_answer' %>
<% end %>
</div>

<h3 id="test_group_1r">
1A. 聲音記憶測驗: 
</h3>

<div style="border: 3px double #000000;padding:3px;width:500px;" id="test_description_1r">
<p>
<span style="font-size:20px; font-weight:bold; text-align:left;">測驗説明：</span>
	<ol style="text-align:left;">
		<li>請按試聼鍵，調整音量至合適。</li>
		<img id="test_audio" src="/icon_test.jpg" style="width: 100px; height: 100px;">
		<li>請按以下錄音鍵，確定你的聲音可以錄進。</li>
		<img id="record" src="/icon_microphone.png" style="width: 100px; height: 100px;" onclick="startRecording(this);">
		<li>請按以下停止鍵，停止錄音。</li>
		<img id="stop" src="/icon_stop.jpg" style="width: 100px; height: 100px;" onclick="stopRecording(this);">
		<li>請按以下存檔鍵，將錄音存檔。</li>
		<a id="save" href="#"><img src="/icon_save.jpg" style="width: 100px; height: 100px;"></a>
		<li>請按開始鍵，題目即開始播出一些數字。</li>
		<img id="group_1r_instruction" src="/flash_start.gif" style="width: 100px; height: 100px;">
		<li>題目播完後，等待綠蘋果亮起，然後按錄音鍵，按著聽到的順序，回答你剛剛聽見的數字。</li>
		<img src="/icon_green.jpg" style="width: 100px; height: 100px;">
		<li>回答結束後，請再按錄音鍵即結束。</li>
		<li>之後請再按存儲鍵，將剛剛的錄音存檔。</li>
		<li>按繼續鍵， 測驗就會進入下一題。現在按此鍵，將首先出現此類別測驗的練習題。</li>
		<img src="/flash_next.gif" style="width: 100px; height: 100px;">
	</ol>
</p>
</div>

<h3 id="test_group_1a">
1A. 聲音記憶測驗: 
</h3>

<div style="border: 3px double #000000;padding:3px;width:500px;" id="test_description_1a">
<p>
<span style="font-size:20px; font-weight:bold; text-align:left;">測驗説明：</span>
	<ol style="text-align:left;">
		<li>按以下播放鍵，每個題目將播出一些數字，請邊聼邊記得。</li>
		<img src="/icon_start.png" style="width: 100px; height: 100px;">
		<li>題目播完後，等待[綠蘋果]亮起，用自備錄音筆或錄音機，按著聽到的順序回答，錄下你剛剛聽見的數字。</li>
		<img id="group_1a_green" src="/icon_green.jpg" style="width: 90px; height: 90px;">
		<li>聼説明請按以下[說明鍵]。</li>
		<img id="group_1a_instruction" src="/icon_instruction.jpg" style="width: 90px; height: 90px;">
		<li>正式作答前 ，可以按以下[練習鍵]， 測驗就會進入練習題。繼續按此鍵，將會繼續出現練習題。</li>
		<img class="play_exer" id="group_1a_exer" src="/flash_exer.gif" style="width: 90px; height: 90px;">
		<li>如果是練習題，題目結束後，可以按以下[答案鍵]聼答案。</li>
		<img src="/icon_answer.jpg" style="width: 100px; height: 100px;">
		<li>按以下的[往下鍵]可以直接開始作答。</li>
		<img class="play_test" id="group_1a_start" src="/flash_next.gif" style="width: 100px; height: 100px;">
	</ol>
</p>
</div>

<h3 id="test_group_1b">
1B. 重復播放聲音記憶測驗: 
</h3>

<div style="border: 3px double #000000;padding:3px;width:500px;" id="test_description_1b">
<p>
<span style="font-size:20px; font-weight:bold; text-align:left;">測驗説明：</span>
	<ol style="text-align:left;">
		<li>按以下播放鍵，每個題目將播出一些數字，請邊聼邊記得。</li>
		<img src="/icon_start.png" style="width: 100px; height: 100px;">
		<li>題目第一次播完後，[黃燈]亮起，之前的數字會再次播出。</li>
		<img src="/icon_yellow.png" style="width: 100px; height: 100px;">
		<li>當數字再次播完後，[綠蘋果]亮起，用自備錄音筆或錄音機，按著聽到的順序回答，錄下你剛剛聽見的數字。</li>
		<img src="/icon_green.jpg" style="width: 100px; height: 100px;">
		<li>聼説明請按以下[說明鍵]。</li>
		<img id="group_1b_instruction" src="/icon_instruction.jpg" style="width: 90px; height: 90px;">
		<li>正式作答前 ，可以按以下[練習鍵]， 測驗就會進入練習題。繼續按此鍵，將會繼續出現練習題。</li>
		<img class="play_exer" id="group_1b_exer" src="/flash_exer.gif" style="width: 100px; height: 100px;">
		<li>如果是練習題，題目結束後，可以按以下[答案鍵]聼答案。</li>
		<img src="/icon_answer.jpg" style="width: 100px; height: 100px;">
		<li>按以下的[往下鍵]可以直接開始作答。</li>
		<img class="play_test" id="group_1b_start" src="/flash_next.gif" style="width: 100px; height: 100px;">
	</ol>
</p>
</div>

<h3 id="test_group_1c">
1C. 影音干預聲音記憶測驗: 
</h3>

<div style="border: 3px double #000000;padding:3px;width:500px;" id="test_description_1c">
<p>
<span style="font-size:20px; font-weight:bold; text-align:left;">測驗説明：</span>
	<ol style="text-align:left;">
		<li>按以下播放鍵，每個題目將播出一些數字，請邊聼邊記得。播完後會出現一段影音。</li>
		<img src="/icon_start.png" style="width: 100px; height: 100px;">
		<li>當影音播完後，[綠蘋果]亮起，用自備錄音筆或錄音機，按著聽到的順序回答，錄下你剛剛聽見的數字。</li>
		<img src="/icon_green.jpg" style="width: 100px; height: 100px;">
		<li>聼説明請按以下[說明鍵]。</li>
		<img id="group_1c_instruction" src="/icon_instruction.jpg" style="width: 90px; height: 90px;">
		<li>正式作答前 ，可以按以下[練習鍵]， 測驗就會進入練習題。繼續按此鍵，將會繼續出現練習題。</li>
		<img class="play_exer" id="group_1c_exer" src="/flash_exer.gif" style="width: 100px; height: 100px;">
		<li>如果是練習題，題目結束後，可以按以下[答案鍵]聼答案。</li>
		<img src="/icon_answer.jpg" style="width: 100px; height: 100px;">
		<li>按以下的[往下鍵]可以直接開始作答。</li>
		<img class="play_test" id="group_1c_start" src="/flash_next.gif" style="width: 100px; height: 100px;">
	</ol>
	</ol>
</p>
</div>

<div id="audio_recording">
	<div id="audio">
		<div id="viz">
			<h4>聲音波形</h4>
			<canvas id="analyser" width="800" height="500"></canvas>
			<h4>錄音波形</h4>
			<canvas id="wavedisplay" width="800" height="500"></canvas>
		</div>
	</div>
</div>

<h3 id="test_group_2a">
2A. 聲音記憶與操作測驗: 兩兩交換
</h3>

<div style="border: 3px double #000000;padding:3px;width:500px;" id="test_description_2a">
<p>
<span style="font-size:20px; font-weight:bold; text-align:left;">測驗説明：</span>
	<ol style="text-align:left;">
		<li>按以下播放鍵，每個題目將播出一些數字，請邊聼邊記得。</li>
		<img src="/icon_start.png" style="width: 100px; height: 100px;">
		<li>題目播完後，[綠蘋果]亮起，用自備錄音筆或錄音機，按著聽到的順序回答，錄下你剛剛聽見的數字。</li>
		<img id="group_2a_green" src="/icon_green.jpg" style="width: 90px; height: 90px;">
		<li style="color:#ff0000;">將聽見的數字，每兩個交換次序，然後回答。例如：聽見的數字是8,4,1,7。你要回答：4,8,7,1。</li>
		<li>聼説明請按以下[說明鍵]。</li>
		<img id="group_2a_instruction" src="/icon_instruction.jpg" style="width: 90px; height: 90px;">
		<li>正式作答前 ，可以按以下[練習鍵]， 測驗就會進入練習題。繼續按此鍵，將會繼續出現練習題。</li>
		<img class="play_exer" id="group_2a_exer" src="/flash_exer.gif" style="width: 90px; height: 90px;">
		<li>如果是練習題，題目結束後，可以按以下[答案鍵]聼答案。</li>
		<img src="/icon_answer.jpg" style="width: 100px; height: 100px;">
		<li>按以下的[往下鍵]可以直接開始作答。</li>
		<img class="play_test" id="group_2a_start" src="/flash_next.gif" style="width: 100px; height: 100px;">
	</ol>
</p>
</div>

<h3 id="test_group_2b">
2B. 聲音記憶與操作測驗: 前半后半對換
</h3>

<div style="border: 3px double #000000;padding:3px;width:500px;" id="test_description_2b">
<p>
<span style="font-size:20px; font-weight:bold; text-align:left;">測驗説明：</span>
	<ol style="text-align:left;">
		<li>按以下播放鍵，每個題目將播出一些數字，請邊聼邊記得。</li>
		<img src="/icon_start.png" style="width: 100px; height: 100px;">
		<li>題目第一次播完後，[黃燈]亮起，之前的數字會再次播出。</li>
		<img src="/icon_yellow.png" style="width: 100px; height: 100px;">
		<li>當數字再次播完後，[綠蘋果]亮起，用自備錄音筆或錄音機，按著聽到的順序和以下的要求錄下你的回答。</li>
		<img id="group_2b_green" src="/icon_green.jpg" style="width: 90px; height: 90px;">
		<li style="color:#ff0000;">將聽見的數字，分成前後各半的兩部反，然後先回答后半部，在再回答前半部。例如：聽見的數字是8,4,1,7,5,9。你要回答：7,5,9,8,4,1。</li>
		<li>聼説明請按以下[說明鍵]。</li>
		<img id="group_2b_instruction" src="/icon_instruction.jpg" style="width: 90px; height: 90px;">
		<li>正式作答前 ，可以按以下[練習鍵]， 測驗就會進入練習題。繼續按此鍵，將會繼續出現練習題。</li>
		<img class="play_exer" id="group_2b_exer" src="/flash_exer.gif" style="width: 90px; height: 90px;">
		<li>如果是練習題，題目結束後，可以按以下[答案鍵]聼答案。</li>
		<img src="/icon_answer.jpg" style="width: 100px; height: 100px;">
		<li>按以下的[往下鍵]可以直接開始作答。</li>
		<img class="play_test" id="group_2b_start" src="/flash_next.gif" style="width: 100px; height: 100px;">
	</ol>
</p>
</div>

<h3 id="test_group_2c">
2C. 聲音記憶與操作測驗: 兩兩相加
</h3>

<div style="border: 3px double #000000;padding:3px;width:500px;" id="test_description_2c">
<p>
<span style="font-size:20px; font-weight:bold; text-align:left;">測驗説明：</span>
	<ol style="text-align:left;">
		<li>按以下播放鍵，每個題目將播出一些數字，請邊聼邊記得。播完後會出現一段影音。</li>
		<img src="/icon_start.png" style="width: 100px; height: 100px;">
		<li>影音播完後，[綠蘋果]亮起，用自備錄音筆或錄音機，按著聽到的順序和以下的要求錄下你的回答。</li>
		<img id="group_2c_green" src="/icon_green.jpg" style="width: 90px; height: 90px;">
		<li style="color:#ff0000;">將聽見的數字，按著次序 ，每兩個相加，再按著次序讀出。例如：聽見的數字是8,4,1,7,5,9。你要回答：12,8,14。</li>
		<li>聼説明請按以下[說明鍵]。</li>
		<img id="group_2c_instruction" src="/icon_instruction.jpg" style="width: 90px; height: 90px;">
		<li>正式作答前 ，可按以下[練習鍵]， 測驗就會進入練習題。繼續按此鍵，將會繼續出現練習題。</li>
		<img class="play_exer" id="group_2c_exer" src="/flash_exer.gif" style="width: 90px; height: 90px;">
		<li>如果是練習題，題目結束後，可以按以下[答案鍵]聼答案。</li>
		<img src="/icon_answer.jpg" style="width: 100px; height: 100px;">
		<li>按以下的[往下鍵]可以直接開始作答。</li>
		<img class="play_test" id="group_2c_start" src="/flash_next.gif" style="width: 100px; height: 100px;">
	</ol>
</p>
</div>

<h3 id="test_group_3a">
3A. 空間記憶測驗: 
</h3>

<div style="border: 3px double #000000;padding:3px;width:500px;" id="test_description_3a">
	<p>
	<span style="font-size:20px; font-weight:bold; text-align:left;">測驗説明：</span>
		<ol style="text-align:left;">
			<li>每個題目有一個方框，裏面有若干個小球在不同的位置。</li>
			<li>在一定時間内，題目即會消失，並出現包含題目的若干圖形。</li>
			<li>請選擇和原來題目圖形一樣的圖形。</li>
			<li>聼説明請按以下[說明鍵]。</li>
			<img id="group_3a_instruction" src="/icon_instruction.jpg" style="width: 90px; height: 90px;">
			<li>正式作答前 ，可以按以下[練習鍵]， 測驗就會進入練習題。繼續按此鍵，將會繼續出現練習題。</li>
			<img class="play_exer" id="group_3a_exer" src="/flash_exer.gif" style="width: 90px; height: 90px;">
			<li>按以下的[往下鍵]可以直接開始作答。</li>
			<img class="play_test" id="group_3a_start" src="/flash_next.gif" style="width: 100px; height: 100px;">
		</ol>
	</p>
</div>

<h3 id="test_group_3b">
3B. 空間記憶測驗: 重復一次
</h3>

<div style="border: 3px double #000000;padding:3px;width:500px;" id="test_description_3b">
	<p>
	<span style="font-size:20px; font-weight:bold; text-align:left;">測驗説明：</span>
		<ol style="text-align:left;">
			<li>每個題目有一個方框，裏面有若干個小球在不同的位置。</li>
			<li>在一定時間内，題目即會消失，在短暫時間後，原來的題目會再次出現。</li>
			<li>當題目再次消失，會出現包含原來題目的若干圖形。</li>
			<li>請選擇和原來題目圖形一樣的圖形。</li>
			<li>聼説明請按以下[說明鍵]。</li>
			<img id="group_3b_instruction" src="/icon_instruction.jpg" style="width: 90px; height: 90px;">
			<li>正式作答前 ，可以按以下[練習鍵]， 測驗就會進入練習題。繼續按此鍵，將會繼續出現練習題。</li>
			<img class="play_exer" id="group_3b_exer" src="/flash_exer.gif" style="width: 90px; height: 90px;">
			<li>按以下的[往下鍵]可以直接開始作答。</li>
			<img class="play_test" id="group_3b_start" src="/flash_next.gif" style="width: 100px; height: 100px;">
		</ol>
	</p>
</div>

<h3 id="test_group_3c">
3C. 空間記憶測驗: 影音干擾
</h3>

<div style="border: 3px double #000000;padding:3px;width:500px;" id="test_description_3c">
	<p>
	<span style="font-size:20px; font-weight:bold; text-align:left;">測驗説明：</span>
		<ol style="text-align:left;">
			<li>每個題目有一個方框，裏面有若干個小球在不同的位置。</li>
			<li>在一定時間内，題目即會消失，並出現一段影音。</li>
			<li>當影音結束后，會出現包含原來題目的若干圖形。</li>
			<li>請選擇和原來題目圖形一樣的圖形。</li>
			<li>聼説明請按以下[說明鍵]。</li>
			<img id="group_3c_instruction" src="/icon_instruction.jpg" style="width: 90px; height: 90px;">
			<li>正式作答前 ，可以按以下[練習鍵]， 測驗就會進入練習題。繼續按此鍵，將會繼續出現練習題。</li>
			<img class="play_exer" id="group_3c_exer" src="/flash_exer.gif" style="width: 90px; height: 90px;">
			<li>按以下的[往下鍵]可以直接開始作答。</li>
			<img class="play_test" id="group_3c_start" src="/flash_next.gif" style="width: 100px; height: 100px;">
		</ol>
	</p>
</div>

<h3 id="test_group_4a">
4A. 空間記憶與操作測驗: 左右翻轉
</h3>

<div style="border: 3px double #000000;padding:3px;width:500px;" id="test_description_4a">
	<p>
	<span style="font-size:20px; font-weight:bold; text-align:left;">測驗説明：</span>
		<ol style="text-align:left;">
			<li>每個題目有一個方框，裏面有若干個小球在不同的位置。</li>
			<li>在一定時間内，題目即會消失，並出現包含題目的若干圖形。</li>
			<li>請按著以下要求選擇正確圖形。</li>
			<li style="color:#ff0000;">選擇與原來圖形左右翻轉的。</li>
			<li>聼説明請按以下[說明鍵]。</li>
			<img id="group_4a_instruction" src="/icon_instruction.jpg" style="width: 90px; height: 90px;">
			<li>正式作答前 ，可以按以下[練習鍵]， 測驗就會進入練習題。繼續按此鍵，將會繼續出現練習題。</li>
			<img class="play_exer" id="group_4a_exer" src="/flash_exer.gif" style="width: 90px; height: 90px;">
			<li>按以下的[往下鍵]可以直接開始作答。</li>
			<img class="play_test" id="group_4a_start" src="/flash_next.gif" style="width: 100px; height: 100px;">
		</ol>
	</p>
</div>

<h3 id="test_group_4b">
4B. 空間記憶與操作測驗: 重復顯現與左右翻轉
</h3>

<div style="border: 3px double #000000;padding:3px;width:500px;" id="test_description_4b">
	<p>
	<span style="font-size:20px; font-weight:bold; text-align:left;">測驗説明：</span>
		<ol style="text-align:left;">
			<li>每個題目有一個方框，裏面有若干個小球在不同的位置。</li>
			<li>在一定時間内，題目即會消失。</li>
			<li>在一定時間内，題目即會再次顯現。</li>
			<li>在一定時間内，題目即會再消失。</li>
			<li>在一定時間内，會出現包含題目的若干圖形。</li>
			<li>請按著以下要求選擇正確圖形。</li>
			<li style="color:#ff0000;">選擇與原來圖形左右翻轉的。</li>
			<li>聼説明請按以下[說明鍵]。</li>
			<img id="group_4b_instruction" src="/icon_instruction.jpg" style="width: 90px; height: 90px;">
			<li>正式作答前 ，可以按以下[練習鍵]， 測驗就會進入練習題。繼續按此鍵，將會繼續出現練習題。</li>
			<img class="play_exer" id="group_4b_exer" src="/flash_exer.gif" style="width: 90px; height: 90px;">
			<li>按以下的[往下鍵]可以直接開始作答。</li>
			<img class="play_test" id="group_4b_start" src="/flash_next.gif" style="width: 100px; height: 100px;">
		</ol>
	</p>
</div>

<h3 id="test_group_4c">
4C. 空間記憶與操作測驗: 影音干擾與上下翻轉
</h3>

<div style="border: 3px double #000000;padding:3px;width:500px;" id="test_description_4c">
	<p>
	<span style="font-size:20px; font-weight:bold; text-align:left;">測驗説明：</span>
		<ol style="text-align:left;">
			<li>每個題目有一個方框，裏面有若干個小球在不同的位置。</li>
			<li>在一定時間内，題目即會消失。</li>
			<li>在一定時間内，影音會顯現。</li>
			<li>在一定時間内，影音會結束。</li>
			<li>之後會出現包含題目的若干圖形。</li>
			<li>請按著以下要求選擇正確圖形。</li>
			<li style="color:#ff0000;">選擇與原來圖形上下翻轉的。</li>
			<li>聼説明請按以下[說明鍵]。</li>
			<img id="group_4c_instruction" src="/icon_instruction.jpg" style="width: 90px; height: 90px;">
			<li>正式作答前 ，可以按以下[練習鍵]， 測驗就會進入練習題。繼續按此鍵，將會繼續出現練習題。</li>
			<img class="play_exer" id="group_4c_exer" src="/flash_exer.gif" style="width: 90px; height: 90px;">
			<li>按以下的[往下鍵]可以直接開始作答。</li>
			<img class="play_test" id="group_4c_start" src="/flash_next.gif" style="width: 100px; height: 100px;">
		</ol>
	</p>
</div>

<h3 id="test_group_4d">
4D. 空間記憶與操作測驗: 影音干擾與左右翻轉。
</h3>

<div style="border: 3px double #000000;padding:3px;width:500px;" id="test_description_4d">
	<p>
	<span style="font-size:20px; font-weight:bold; text-align:left;">測驗説明：</span>
		<ol style="text-align:left;">
			<li>每個題目有一個方框，裏面有若干個小球在不同的位置。</li>
			<li>在一定時間内，題目即會消失。</li>
			<li>在一定時間内，影音會顯現。</li>
			<li>在一定時間内，影音會結束。</li>
			<li>之後會出現包含題目的若干圖形。</li>
			<li>請按著以下要求選擇正確圖形。</li>
			<li style="color:#ff0000;">選擇與原來圖形左右翻轉的。</li>
			<li>聼説明請按以下[說明鍵]。</li>
			<img id="group_4d_instruction" src="/icon_instruction.jpg" style="width: 90px; height: 90px;">
			<li>正式作答前 ，可以按以下[練習鍵]， 測驗就會進入練習題。繼續按此鍵，將會繼續出現練習題。</li>
			<img class="play_exer" id="group_4d_exer" src="/flash_exer.gif" style="width: 90px; height: 90px;">
			<li>按以下的[往下鍵]可以直接開始作答。</li>
			<img class="play_test" id="group_4d_start" src="/flash_next.gif" style="width: 100px; height: 100px;">
		</ol>
	</p>
</div>

<h3 id="test_group_5a">
5A. 具體概念測驗: 
</h3>

<div style="border: 3px double #000000;padding:3px;width:500px;" id="test_description_5a">
	<p>
	<span style="font-size:20px; font-weight:bold; text-align:left;">測驗説明：</span>
		<ol style="text-align:left;">
			<li>每個題目會給出一個東西，和與這個東西最接近的三個概念。</li>
			<li>請選擇與題目的東西，概念最接近的選項。</li>
			<li>聼説明請按以下[說明鍵]。</li>
			<img id="group_5a_instruction" src="/icon_instruction.jpg" style="width: 90px; height: 90px;">
			<li>正式作答前 ，可以按以下[練習鍵]， 測驗就會進入練習題。繼續按此鍵，將會繼續出現練習題。</li>
			<img class="play_exer" id="group_5a_exer" src="/flash_exer.gif" style="width: 90px; height: 90px;">
			<li>按以下的[往下鍵]可以直接開始作答。</li>
			<img class="play_test" id="group_5a_start" src="/flash_next.gif" style="width: 100px; height: 100px;">
		</ol>
	</p>
</div>

<h3 id="test_group_5b">
5B. 抽象概念測驗: 
</h3>

<div style="border: 3px double #000000;padding:3px;width:500px;" id="test_description_5b">
	<p>
	<span style="font-size:20px; font-weight:bold; text-align:left;">測驗説明：</span>
		<ol style="text-align:left;">
			<li>每個題目會給出一個東西，和與這個東西最接近的三個概念。</li>
			<li>請選擇與題目的東西，概念最接近的選項。</li>
			<li>聼説明請按以下[說明鍵]。</li>
			<img id="group_5b_instruction" src="/icon_instruction.jpg" style="width: 90px; height: 90px;">
			<li>正式作答前 ，可以按以下[練習鍵]， 測驗就會進入練習題。繼續按此鍵，將會繼續出現練習題。</li>
			<img class="play_exer" id="group_5b_exer" src="/flash_exer.gif" style="width: 90px; height: 90px;">
			<li>按以下的[往下鍵]可以直接開始作答。</li>
			<img class="play_test" id="group_5b_start" src="/flash_next.gif" style="width: 100px; height: 100px;">
		</ol>
	</p>
</div>

<h3 id="test_group_6">
6. 情緒概念測驗: 
</h3>

<div style="border: 3px double #000000;padding:3px;width:500px;" id="test_description_6">
	<p>
	<span style="font-size:20px; font-weight:bold; text-align:left;">測驗説明：</span>
		<ol style="text-align:left;">
			<li>每個題目即會播一段話。</li>
			<li>聲音結束后，會出現綠燈。根據音調，選擇與感受最接近的情緒選項。</li>
			<li>聼説明請按以下[說明鍵]。</li>
			<img id="group_6_instruction" src="/icon_instruction.jpg" style="width: 90px; height: 90px;">
			<li>正式作答前 ，可以按以下[練習鍵]， 測驗就會進入練習題。繼續按此鍵，將會繼續出現練習題。</li>
			<img class="play_exer" id="group_6_exer" src="/flash_exer.gif" style="width: 90px; height: 90px;">
			<li>按以下的[往下鍵]可以直接開始作答。</li>
			<img class="play_test" id="group_6_start" src="/flash_next.gif" style="width: 100px; height: 100px;">
		</ol>
	</p>
</div>

<audio id="audio_play_q">
  <source src="/p2a_e1.wav" type="audio/wav">
  Your browser does not support this audio format.
</audio>

<audio id="audio_play_a">
  <source src="/p2a_a1.wav" type="audio/wav">
  Your browser does not support this audio format.
</audio>


<%-# recording controls -%>
<div style="border: 3px double #000000;padding:3px;width:500px;" id="record_buttons">
	<img id="record" src="/icon_microphone.png" style="width: 100px; height: 100px;" onclick="startRecording(this);">
	<img id="stop" src="/icon_stop.jpg" style="width: 100px; height: 100px;" onclick="stopRecording(this);">
	<a id="save" href="#"><img src="/icon_save.jpg" style="width: 100px; height: 100px;" onclick=""></a>
</div>

<h4 id="test_item">第1題</h4>

<div style="border: 3px double #000000;padding:3px;width:500px;" id="test_buttons">
	<img id="a2" src="/flash_start.gif" style="width: 100px; height: 100px;">
	<img id="yellow" src="/icon_yellow.png" style="width: 100px; height: 100px;">
	<img id="green" src="/icon_green.jpg" style="width: 100px; height: 100px;">
	<img id="answer" src="/icon_answer.jpg" style="width: 120px; height: 120px;">
	<img id="response" src="/flash_response.gif" style="width: 120px; height: 120px;">
	<img id="exer" src="/flash_exer.gif" style="width: 120px; height: 120px;">
	<img id="next" src="/flash_next.gif" style="width: 100px; height: 100px;">
</div>

<div style="border: 3px double #000000;padding:3px;width:500px;" id="record_alert">
	<p style="color: #ff0000;font-size:32px;font-weight:bold;"><blink>請錄音，結束后按[往下鍵]</blink></p>
	<img src="/flash_record.gif" style="width: 100px; height: 100px;">
</div>


<div id="player"></div>

<script>
  // 1. This code loads the IFrame Player API code asynchronously.
  var tag = document.createElement('script');

  tag.src = "https://www.youtube.com/iframe_api";
  var firstScriptTag = document.getElementsByTagName('script')[0];
  firstScriptTag.parentNode.insertBefore(tag, firstScriptTag);

  // 2. This function creates an <iframe> (and YouTube player)
  //    after the API code downloads.
  var player;
  function onYouTubeIframeAPIReady() {
    player = new YT.Player('player', {
      height: '480',
      width: '640',
      videoId: 'BP--0Z-tmNk',
      events: {
        'onReady': onPlayerReady,
        'onStateChange': onPlayerStateChange
      }
    });
  }

  // 3. The API will call this function when the video player is ready.
  function onPlayerReady(event) {
   
    // player.loadVideoById({'videoId': 'dleOLKzcsko', 'startSeconds': 5, 'endSeconds': 60, 'suggestedQuality': 'large'});
    // player.loadVideoById({'videoId': 'BP--0Z-tmNk'});
    player.pauseVideo();
    // $('#player').hide();
    // event.target.playVideo();

  }

  // 4. The API calls this function when the player's state changes.
  //    The function indicates that when playing a video (state=1),
  //    the player should play for six seconds and then stop.
  var done = false;

  function onPlayerStateChange(event) {
    if (event.data == YT.PlayerState.PLAYING) {
      setTimeout(stopVideo, 30000); // set up video player time
      // done = true;
    }
  }

  function stopVideo() {
  	player.stopVideo();
  	// $('#player').hide();
  	
  	// test control handling after video end
  	$('#green').css('opacity', 1);
    $('#yellow').hide();

    vh = $('#video_end_handle').html();
    vv = vh.split('/');
    in_exercise = (vv[0]=='1');

    gid = vv[2];

    // show alert to record (groups 1 and 2) or to answer (others)
    if(gid[0]=='1' || gid[0]=='2') $('#record_alert').show();
    else $('#answer_alert').show();

    $('#test_item').show();
    $('#test_group_' + vv[2]).show();

    if(gid[0]=='3' || gid[0]=='4') $('#test_content_3a4').show();
    else $('#test_content_' + vh[0]).show();

    if(in_exercise) $('#answer').show(); 
    else $('#answer').hide();

    if(gid[0]=='3' || gid[0]=='4') $('#answer_for_3a4').show();

    if(gid[0]=='1' || gid[0]=='2') {
    	$('#next').show();
    }
    else {
    	$('#next').hide(); // no display until the answer to the question is given
    	$('#response').hide();
      $('#alert_message').html('請在正確圖形處觸碰。');
    }

    $('#test_buttons').show();
  }

  function playVideo() {
  	player.playVideo();
  }

  function loadVideo(videoID) {
  	player.loadVideoById({'videoId': videoID, 'startSeconds': 5, 'endSeconds': 45, 'suggestedQuality': 'large'});
  	player.pauseVideo();
  }

  function load2playVideo() {
  	// alert('to load ' + videoID + ' for video playing');
  	player.playVideo();
  	$('#player').show();
  	$('#test_item').hide();
  }

</script>


<div style="border: 3px double #000000;padding:3px;width:500px;" id="answer_alert">
	<p style="color: #ff0000;font-size:32px;font-weight:bold;" id="alert_message">請選擇答案</p>
</div>

<div id="test_content_3a4">

	<div id="test_for_3a4" style="width:110px">
		<canvas id="canvas_for_test" width="100" height="100" style="border:1px solid #000000;">
		</canvas>
	</div>

	<div id="answer_for_3a4">
		<h4 id="test_answer_group_3a4">選擇同樣圖形：</h4>

		<div style="width:110px; display:inline-block;">
			<canvas id="canvas_for_answer_1" width="100" height="100" style="border:1px solid #000000;" style="display:inline-block;">
			</canvas>
		</div>

		<div style="width:110px; display:inline-block;">
			<canvas id="canvas_for_answer_2" width="100" height="100" style="border:1px solid #000000;" style="display:inline-block;">
			</canvas>
		</div>

		<div style="width:110px; display:inline-block;">
			<canvas id="canvas_for_answer_3" width="100" height="100" style="border:1px solid #000000;" style="display:inline-block;">
			</canvas>
		</div>

		<div style="width:110px; display:inline-block;">
			<canvas id="canvas_for_answer_4" width="100" height="100" style="border:1px solid #000000;" style="display:inline-block;">
			</canvas>
		</div>

	</div>

</div>


<div id="test_content_5">
	<div style="border: 3px double #000000; padding:3px; width:500px;">
		<img id="q5_img" src="/icon_yellow.png" style="width: 100px; height: 100px;">
		<p style="color: #000000;font-size:20px;font-weight:bold;" id="q5_text">subject</p>
	</div>
	<p></p>
	<p style="color: #ff0000;font-size:28px;font-weight:bold;" id="q5_message">請從以下選出與以上題目最合適的概念</p>
	<p></p>
	<div id="choices_5">
		<div style="border: 3px double #000000; padding:3px; width:120px; display:inline-block;">
			<img id="q5_img_1" src="/icon_yellow.png" style="width: 100px; height: 100px;">
			<p style="color: #000000;font-size:20px;font-weight:bold;" id="q5_text_1">object 1</p>
		</div>
		<div style="border: 3px double #000000; padding:3px; width:120px; display:inline-block;">
			<img id="q5_img_2" src="/icon_yellow.png" style="width: 100px; height: 100px;">
			<p style="color: #000000;font-size:20px;font-weight:bold;" id="q5_text_2">object 2</p>
		</div>
		<div style="border: 3px double #000000; padding:3px; width:120px; display:inline-block;">
			<img id="q5_img_3" src="/icon_yellow.png" style="width: 100px; height: 100px;">
			<p style="color: #000000;font-size:20px;font-weight:bold;" id="q5_text_3">object 3</p>
		</div>
		<div style="border: 3px double #000000; padding:3px; width:120px; display:inline-block;">
			<img id="q5_img_4" src="/icon_yellow.png" style="width: 100px; height: 100px;">
			<p style="color: #000000;font-size:20px;font-weight:bold;" id="q5_text_4">object 4</p>
		</div>
	</div>
</div>

<div id="test_content_6">

	<div style="border: 3px double #000000; padding:3px; width:500px;">
		<p style="color: #ff0000;font-size:28px;font-weight:bold;" id="q6_message">選出以下與聽見聲音最接近的表情:</p>
	</div>
	<p id="q6_text" style="color: #000000;font-size:28px;font-weight:bold;"></p>
	<p></p>
	<div id="choices_6">
		<div style="border: 3px double #000000; padding:3px; width:120px; display:inline-block;">
			<img id="q6_emo_1" src="/icon_yellow.png" style="width: 100px; height: 100px;">
		</div>
		<div style="border: 3px double #000000; padding:3px; width:120px; display:inline-block;">
			<img id="q6_emo_2" src="/icon_yellow.png" style="width: 100px; height: 100px;">
		</div>
		<div style="border: 3px double #000000; padding:3px; width:120px; display:inline-block;">
			<img id="q6_emo_3" src="/icon_yellow.png" style="width: 100px; height: 100px;">
		</div>
		<div style="border: 3px double #000000; padding:3px; width:120px; display:inline-block;">
			<img id="q6_emo_4" src="/icon_yellow.png" style="width: 100px; height: 100px;">
		</div>
	</div>

</div>


</center>



<div id="user_data"><% if user_signed_in? %>user_id_<%= current_user.id %><% end %></div>
<div id="user_status">
<% if user_signed_in? %>
<% if current_user.tester_answers.count > 0 %>
<%= current_user.tester_answers.first.score.to_s %>
<% else %>0
<% end %><% end %>
</div>
<div id="user_level_code"><% if user_signed_in? %><%= current_user.level %><% end %></div>
<div id="user_answer"><% if user_signed_in? %>
<% if current_user.tester_answers.count > 0 %>
<%= current_user.tester_answers.first.answer %>
<% end %><% end %>
</div>
<div id="video_end_handle"></div>